body {
  background-image: url('./images/background.png');
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mission {
  border: white solid 5px;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.pequeno {
  width: 50px;
}

.medio {
  width: 100px;
}

.grande {
  width: 200px;
}

.extra-grande {
  width: 400px;
}

.sistema-solar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.planet-name {
  align-self: start;
}
